@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');


.products-filtered{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-bottom: 60px;
    overflow: auto;
    justify-content: space-evenly;
}
.filter{
    .filter{
        display: flex;
        justify-content: center;
        height: 5vh;
        width: 100vw;
        align-items: center;
        font-family: "Orelega One", serif;
        font-weight: 400;
        font-style: normal;
        
    
        
    }
}