@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Questrial&display=swap');

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70%;
}
.filter{
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    align-items: center;
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
    

    
}

.ventas-menor{

        
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
background-color: white;
}
.ventas-menor p{
margin: 0;
}

.direccion-header{
    color: white;
    padding-top: 10px;
}
.direccion-header-container{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
} 


