@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Questrial&display=swap');


.filter{
    width: 100vw;
    
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;

    
}